<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>HomePage</h3>
    <h4>sports</h4>
    <img id="img" src="" height="400px" width="400px" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="customscript.js"></script>
</body>
</html>